<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.SysUserDao">
    <resultMap id="userMap" type="entity.SysUser">
        <id property="id" column="id"></id>
        <result property="userName" column="user_name"></result>
        <result property="userPassword" column="user_password"></result>
        <result property="userEmail" column="user_email"></result>
        <result property="createTime1" column="create_time" jdbcType="TIMESTAMP"></result>
    </resultMap>
    <select id="queryById" resultType="entity.SysUser">
        select id,
          user_name userName,
          user_password userPassword,
          user_email userEmail,
          create_time createTime1
        from sys_user
        where id = #{id}
    </select>
    <select id="queryById2" resultMap="userMap">
        select * from sys_user where id = #{id}
    </select>
    <select id="queryAll" resultType="entity.SysUser">
        select id,
        user_name userName,
        user_password userPassword,
        user_email userEmail,
        create_time createTime
        from sys_user
    </select>
    <select id="queryRoleByUserid" resultType="entity.SysRole">
         select  r.*
        from sys_user u
        inner join sys_user_role ur on ur.user_id = u.id
        inner join sys_role r on r.id = ur.role_id
        where u.id = #{id};
    </select>
    <select id="queryRoleByUserid2" resultType="entity.SysRole">
        select
          r.*,
          u.id 'user.id',
          u.user_name 'user.userName',
          u.user_password 'user.userPassword'
        from sys_user u
        inner join sys_user_role ur on ur.user_id = u.id
        inner join sys_role r on r.id = ur.role_id
        where u.id = #{id};
    </select>

    <insert id="insert">
        insert into sys_user(id,user_name,user_password,user_email,create_time)
          values(#{id},#{userName},#{userPassword},#{userEmail},#{createTime1})
    </insert>

    <insert id="insert2" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(user_name,user_password,user_email,create_time)
        values(#{userName},#{userPassword},#{userEmail},#{createTime1})
    </insert>
    <insert id="insert3">
        insert into sys_user(user_name,user_password,user_email,create_time)
        values(#{userName},#{userPassword},#{userEmail},#{createTime1})
        <selectKey keyProperty="id" keyColumn="id" resultType="long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

</mapper>
